<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dllo.eyepetzier">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ui.application.EyeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/EyepetzierTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.Feed2ndReviewActivity"
            android:process=":picture" />
        <activity android:name=".ui.activity.DiscoveryDetailedActivity" />
        <activity android:name=".ui.activity.Author2ndDetailActivity"
            android:process=":picture" />
        <activity android:name=".ui.activity.VideoIntroduceActivity"/>
    </application>

</manifest>